* {
  font-family: papyrus, fantasy;
}

img {
  border: 3px solid brown;
}

p {
  padding-left: 8px;
}

fieldset {
  margin-top: 4px;
  background-color: #8f8e6e;
}

legend {
  color: #d46622;
  background-color: #ccadbe;
  border-width: 1px;
  border: solid;
  border-color: #72072e;
  padding: 3px;
  font-weight: bold;
}

table {
  width: 80%;
  margin: 4px;
  padding: 4px;
}

td {
  padding: 2px;
}

.required {
  color: #ffa600;
}

.button {
  padding: 10px;
  border-radius: 8px;
  margin: 5px;
}

#data {
  color: #72072e;
}

#top {
  background-color: #33ff88;
  margin-top: 15px;
  padding-top: 10px;
  border-color: grey;
  border-width: 2px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

input[type=submit] {
  color: white;
  background-color: red;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: white;
  color: red;
  border: 2px solid red;
}

input[type=reset] {
  color: black;
  background-color: #e7e7e7;
  cursor: pointer;
}

input[type=reset]:hover {
  background-color: black;
  color: #e7e7e7;
  border: 2px solid #e7e7e7;
}
